.testCaseModel{
    font-family: "Inter";
}

.testScenario{
    font-weight: bold;
}

.testStatus{
    text-align: center;
}

.bugReport{
    text-align: end;
}

.bugReportLink{
    cursor: pointer;
}

.stepsList{
    margin-left: "20px";
}

.bugs{
    margin-right: 10px;
    cursor: pointer;
    /* font-weight: bold; */
}