
[data-column-id="1"].rdt_TableCol {
    background-color: #6c757d;
  }
  
  [data-column-id="2"].rdt_TableCol {
    background-color: #6c757d;
  }

  [data-column-id="3"].rdt_TableCol {
    background-color: #6c757d;
  }

  [data-column-id="4"].rdt_TableCol {
    background-color: #6c757d;
    
  }

  .datePicker{
    /* position: relative; */
    z-index: 200;
  }
/* .tableMovies{
  z-index: -1;
} */