/* .googleLoginDiv{
 height: 200px;
 position: relative;
 padding-top: 15%;
} */

.mains {
    /* background-color: aqua; */
    /* margin: auto; */
    padding: 13% 0;
}

.button {
    /* display: table;
    margin: 0 auto; */
    display: flex;
    justify-content: center; 
}