ul{
    list-style-type: none;
    font-size: large;
    color: rgb(233, 122, 140);
    position: relative;
    border: 2px solid red;
    width: 50%;
    /* margin: 5px 60px; */
}

li{
    padding-top: 8px;
}

.removeButton{
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 13px;
}

.name{
    font-style: italic;
    font-weight: bold;
}

.age{
    font-style: oblique;
    font-family:fantasy;
}

.phoneNumber{
    font-family:fantasy;
}

@media screen and (max-width:425px) {
    .removeButton{
        right: 1rem;
    }
}