.summary {
    border-radius: 14px;
    text-align: center;
    background-color:#383838;
    max-width: 45rem;
    position: relative;
    margin: auto;
    margin-top: -10rem;
    color: white;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }