.chart-container {
    width: 40vw;
    height: 50vh;
    margin: auto;
}

.main{
    margin-top: 3%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-bottom: 40px; */
    /* margin: auto; */
}


.chart1{
    border: 2px solid #EBEAED;  
    margin-bottom: 20px;
    border-radius: 4px;
    height: 100%;
    min-height: 450px !important;
}

.pieDiv{
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}


.chartHeading{
    margin: 10px;
    font-size: large;
    font-weight: bold;
}



.issueType{
    color: white;
    border: 2px solid red;
    margin-bottom: 20px;
    background-color: rgb(64, 77, 150);
    width: "70%";
}

.issueList{
    /* background-color: aqua; */
    /* color:rgb(101, 156, 214) */
    width: 44%;
    
}