.divHeader {
  height: 5rem;
  background-color: pink;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: flex;
}

.formPageButton{
    border-radius: 7px;
    /* text-align: center; */
    position: absolute;
    /* right: 400px; */
    /* margin: 10px; */
    /* margin-left: 45%; */
    right: 20%;
    top: 20px;
}

.headerDetailsCount{
    position: absolute;
    right: 2%;
    margin: 10px;
    font-size: large;
}

.details{
    background-color: #448;
    right: 30px;
    top: 20px;
    position: absolute;
}


@media screen and (min-width:640px) {
    .divHeader{
        width: 100%;
    }
}