.form1 {
  margin: 10px auto;
  width: 50vw;
  height: auto;
  /* height: 55vh; */
  border: 2px solid rgb(228, 34, 124);
  border-radius: 10px;
  box-shadow: 5px 5px rgb(202, 150, 150);
}

.labelInputDiv {
  padding-left: 10px;
}

.fillHeading {
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

/* label{
    padding-top: 10px;
    display: block;
    text-transform: capitalize;
    font-weight: bold;
}

input{
    width: 13rem;
} */

h5{
  text-align:center ;
}

.submitButton {
  border-radius: 5px;
  border-color: rgb(228, 34, 124);
  display: block;
  margin: 10px auto;
}

@media screen and (max-width: 468px) {
  .form1 {
    width: 50%;
  }
  /* input {
    width: 94%;
  } */
}
