.selectCrypto{
    margin-right: 20px;
  }
  
  .inputCrypto{
    margin-top: 23px;
  }
  
  .labelStyle{
    color: #80919F;
  }
  
  .form-select{
    background-color: #251D3E;
    color: #FFFFFF;
    border-radius: 10px;
    border-color: #251D3E;
  }
  
  .form-control{
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  
  .classPadding{
    padding-top: 110px;
  }
  
  .inputCurrency{
    margin-top: 23px;
    margin-left: 170px;
  }
  
  .headingClass {
    font-weight: 300;
    margin-top: 60px;
    margin-left: 101px;
    margin-bottom: 30px;
  }
  
  .divClass {
    position: absolute;
    top: 215px;
    left: 255px;
  }
  
  #currencyName {
    /* margin-left: 150px; */
  }
  
  .cryptoName {
    padding-left: 260px;
    color: #80919f;
    font-size: 14px;
  }
  
  .value {
    margin-top: 50px;
    text-align: center;
    font-weight: 300;
  }
  
  .currencyName {
    padding-left: 480px;
    color: #80919f;
    font-size: 14px;
  }
  
  
  @media (max-width:320px)  { 
    .classPadding{
      padding-top: 0px;
    }
    .selectCrypto{
      margin-right: 0px;
    }
    .inputCurrency{
      margin-left: 0px;
    }
    .headingClass {
      font-weight: 300;
      margin-top: 60px;
      text-align: center;
    }
   }
  
   @media (max-width:760px) {
    .selectCrypto{
      margin-right: 0px;
    }
    .inputCurrency{
      margin-left: 0px;
    }
   }