.headingNav{
    height: 10vh;
    background-color: hotpink;
    color: white;
    display: flex;
    padding :0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 8px black;
}

.divImage{
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;


}

.mealImage{
    width: 110%;
    height: 20rem;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
