

.meal {
  margin: 1rem;
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(37, 36, 36) ;
  position: relative;
  }
  
  .meal h4 {
    margin: 0 0 0.25rem 0;    
    font-weight: bold;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  .label{
    right: 12%;
    top: 1%;
    /* bottom: 53%; */
    position: absolute;
    font-weight: bold;
  }

  .amountInput{
    border: 1px solid black;
    padding-left: 15px;
    width: 3vw;
    right: 7%;
    top: 1%;
    position: absolute;
    border-radius: 5px;
  }


  .addButton{
    position: absolute;
    right: 7%;
    bottom: 30%;
    border-radius: 10px;
    width: 7vw;
    background-color: hotpink;
    display: flex;
    padding-left: 28px;
    justify-content: space-between;
    border: 3px solid black;
  }