.detailsDiv {
  margin: 10px auto;
  width: 50vw;
  height: auto;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
}
.closeButton{
    position: absolute;
    border-radius: 7px;
    right: 3%;
    bottom: 3%;
}

.emptyHeader{
    text-align: center;
    margin: 55px;
    font-weight: bold;
}