.addUserClass {
  border-radius: 10px;
  background-color: tomato;
  padding: 20px;
  width: 500px;
  margin: auto;
}

input {
  padding: 12px 20px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

::placeholder {
  color: red;
}

.buttonClass {
  margin-top: 10px;
  margin-left: 200px;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  background-color: rgb(134, 192, 96);
}
