.errorClass {
  margin: 200px 500px;
  border-radius: 10px;
  max-width: 500px;
  background-color: rgb(234, 244, 253);
  height: auto;
}

header {
  padding-top: 8px;
  padding-left: 20px;
  height: 30px;
  text-align: left;
  color: blanchedalmond;
  background-color: rgb(89, 14, 99);
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.errorbuttonClass {
  /* position: absolute; */
  margin-left: 78%;
  margin-bottom: 10px;
  width: 70px;
  height: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
