/* body{
  background-color: rgb(163, 158, 158);
} */

.googleButton{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 45%;
}

.googleLogin{
  position: relative;
}

















/* .divClass{
  height: 100%;
  background-color: gray;
} */

































/* *{
  margin: 50px;
} */



/* img{
  width: 200px;
  height: 200px;
} */

/* div{
  color: rgb(28, 59, 59);
  width: 700px;
  height: 600px;
  background-image: url(./pexels-pixabay-3871.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 2px solid red;
  display: flex;
} */

/* div{
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one{
  background-color: red;
  transform: translateX(20px);
}

.two{
  background-color: green;
  transform: translateX(20px);
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

@keyframes move{
  0%{
    background-color: lightgoldenrodyellow;
    transform: translateX(20px);
  }
  20%{
    background-color: magenta;
    transform: translateX(200px);
  }
  50%{
    background-color: mediumaquamarine;
    transform: translateX(600px);
  }
  60%{
    transform: translateX(300px);
    transform: rotateZ(45deg);
  }
  75%{
    background-color: black;
    transform: rotateZ(85deg);
  }
  100%{
    background-color: hotpink;
  }
} */




/* .navCartButton{
  text-align: center;
  position: absolute;
  height: 5vh;
  right: 5%;
  bottom: 28%;
  border-radius: 12px;
  background-color: rgb(247, 178, 212);
} */

/* .divImage{
  width: 100vw;
  height: 25rem;
  overflow: hidden;
  z-index: 0;
}

.mealImage{
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
} */






/* .Nav-bar{
  text-align: center;
  border: 2px solid blue;
  border-radius: 14px;
  padding-top: 1%;
  margin: 10px;
  background: cyan;
}

ul li{
  list-style-type: none;
  display: inline;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 2px solid black;
  margin-left: 50px;
  margin-right: 70px;
  background-color: blueviolet;
  border-radius: 8px;
}

a{
  color: white;
  text-decoration: none;
} */























/* body {
  background-color: #161129;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}

.load{
  padding-top: 7%;
  text-align: center;
}

.selectCrypto{
  margin-right: 20px;
}

.inputCrypto{
  margin-top: 23px;
}

.labelStyle{
  color: #80919F;
}

.form-select{
  background-color: #251D3E;
  color: #FFFFFF;
  border-radius: 10px;
  border-color: #251D3E;
}

.form-control{
  background-color: #FFFFFF;
  border-radius: 10px;
}

.classPadding{
  padding-top: 110px;
}

.inputCurrency{
  margin-top: 23px;
  margin-left: 170px;
}

.headingClass {
  font-weight: 300;
  margin-top: 60px;
  margin-left: 101px;
  margin-bottom: 30px;
}

.divClass {
  position: absolute;
  top: 215px;
  left: 255px;
} */

/* #currencyName { */
  /* margin-left: 150px; */
/* } */

/* .cryptoName {
  padding-left: 260px;
  color: #80919f;
  font-size: 14px;
}

.value {
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
}

.currencyName {
  padding-left: 480px;
  color: #80919f;
  font-size: 14px;
}


@media (max-width:320px)  { 
  .classPadding{
    padding-top: 0px;
  }
  .selectCrypto{
    margin-right: 0px;
  }
  .inputCurrency{
    margin-left: 0px;
  }
  .headingClass {
    font-weight: 300;
    margin-top: 60px;
    text-align: center;
  }
 }

 @media (max-width:760px) {
  .selectCrypto{
    margin-right: 0px;
  }
  .inputCurrency{
    margin-left: 0px;
  }
 } */


/* body {
  background-color: #161129;
  color: aliceblue;
  font-family: Helvetica, sans-serif;
}

.headingClass {
  font-weight: 300;
  margin-top: 60px;
  margin-left: 50px;
}

.divClass {
  position: absolute;
  top: 215px;
  left: 255px;
}

#currencyName {
  margin-left: 150px;
}

.cryptoName {
  padding-left: 260px;
  color: #80919f;
  font-size: 14px;
}

.value {
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
}

.currencyName {
  padding-left: 480px;
  color: #80919f;
  font-size: 14px;
}

input {
  margin-left: 20px;
  padding-left: 10px;
  height: 30px;
  border-radius: 10px;
  width: 200px;
}

select {
  background-color: #251d3e;
  color: aliceblue;
  width: 150px;
  margin-left: 20px;
  padding-left: 10px;
  height: 40px;
  border-radius: 10px;
  width: 180px;
} */

  /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
  /* background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"); */
  /* background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
} */

/* @media (max-width:700px){
  .divClass {
    position: absolute;
    top:40%;
    left:17%
  }

  input {
    height: 30px;
    border-radius: 10px;
    width: 100px;
  }  
}
 */

/* h2{
  padding-left: 3%;
}

.divClass{
  margin-top: 10%;
}

.cryptoLabel{
  padding-left: 38%;
}

.currencyLabel{
  padding-left: 23%;
}

.cryptoInput{
  
}

.currencyInput{
  margin-left: 12%;
}

input{
  border-radius: 5px;
}

select{
  margin-left: 20px; */
  /* width:auto; */
  /* width:100px;
  border-radius: 5px;
} */


/* 
form{
  text-align: center;
}


@media (max-width:450px){
  h2{
    font-size: 15px;
  }
  .divClass{
    margin-top: 40%;
  }
  input{
    width: 80px;
  }
  select{
    width:70px
  }

  label{
    font-size: 10px;
  }

  .cryptoLabel{
    padding-left: 30%;
  }
  
  .currencyLabel{
    padding-left: 38%;
  }
}

@media (max-width:375px) {
  input{
    width:50px
  }
  .cryptoLabel{
    padding-left: 25%;
  }
}

@media (max-width:768px) {
  .cryptoLabel{
    padding-left: 32%;
  }
  .currencyLabel{
    padding-left: 38%;
  }
}

@media (max-width:1024){
  .cryptoLabel{
    color: brown;
    padding-left: 20%;
  }
} */





















