.selected {
  text-align: center;
}

.selectClass {
  font-family: "cursive";
  font-size: 14pt;
  width: 310px;
  height: 35px;
  border-color: brown;
  color: darkslateblue;
  border-radius: 5px;
  margin-left: 30px;
}

label {
  color: azure;
}

input {
  width: 300px;
  height: 30px;
  border-color: brown;
  border-radius: 5px;
  margin-left: 30px;
}

.formClass {
  /* background-color: white; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* background-color: rgba(184, 184, 184, 0.582); */
  /* box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.555); */
  border-radius: 10px;
  transition: 0.3s;
  /* width: 500px; */
  /* max-width: 500px; */
  height: auto;
  padding-bottom: 20px;
  /* margin-left: 450px; */
}

h2 {
  color: azure;
  font-family: "fantasy";
}

h1 {
  color: azure;
}

/* .formClass h2 {
  padding-top: 10px;
  font-family: "fantasy";
  animation-name: "example";
  animation-duration: 4s;
} */

body {
  background-color: #1f1f1f;
}

h4 {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 10s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.amount {
  padding-bottom: 10px;
}

input {
  color: darkslateblue;
}

/* input[type="number"]:not([step="any"])::-webkit-inner-spin-button,
input[type="number"]:not([step="any"])::-webkit-outer-spin-button {
  opacity: 1;
} */

/* .App h2 {
  text-align: center;
  border: 5px dotted rgb(219, 77, 77);
  padding: 13px;
  margin-left: 500px;
  margin-right: 500px;
}

.formClass{
  margin-left: 10px;
}

.formClass div {
  text-align: center;
  margin-bottom: 10px;
}

.onlyButton{
  margin-top: 20px;
  text-align: center;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
